<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SymbolFinder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SymbolFinder.Properties.Settings>
            <setting name="showHidden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showFontCompatibility" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fontSize" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="startingFont" serializeAs="String">
                <value>Segoe UI Emoji</value>
            </setting>
        </SymbolFinder.Properties.Settings>
    </userSettings>
</configuration>